<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-2xl font-bold" routerLink="/">Warranty</a>
    <ul class="flex space-x-4">
      <li><a class="text-white hover:text-gray-300 transition duration-300 ease-in-out px-3 py-1 rounded-sm" routerLink="/" routerLinkActive="bg-red-500" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a class="text-white hover:text-gray-300 transition duration-300 ease-in-out px-3 py-1 rounded-sm" routerLink="/about" routerLinkActive="bg-red-500">About</a></li>
    </ul>
  </div>
</nav>