<div class="flex justify-between mt-10 mx-2 text-center font-bold">
    <div class="py-5 px-3 text rounded-lg w-1/12 shadow-lg cursor-pointer text-white bg-red-500 hover:bg-white hover:text-red-500" routerLink="/app-add-customer"><i class="fa-solid fa-plus"></i> Add Customer</div>
    <div class="py-5 px-3 rounded-lg w-1/12 shadow-lg cursor-pointer text-white bg-red-500 hover:bg-white hover:text-red-500" routerLink="/app-add-product"><i class="fa-solid fa-plus"></i> Add Product</div>
    <div class="py-5 px-3 rounded-lg w-1/12 shadow-lg cursor-pointer text-white bg-red-500 hover:bg-white hover:text-red-500" routerLink="/app-add-service-request"><i class="fa-solid fa-plus"></i> Add Request For Service</div>
    <div class="py-5 px-3 rounded-lg w-1/12 shadow-lg cursor-pointer text-white bg-red-500 hover:bg-white hover:text-red-500" routerLink="/app-add-service-technician"><i class="fa-solid fa-plus"></i> Add Service Technician</div>
</div>
