<aside class="bg-gray-800 text-white p-4 h-screen">
  <ul>
    <li><a [routerLink]="['/app-customer-list']" class="block py-2 px-4 hover:bg-gray-700"><i class="fa-solid fa-person"></i> Customers</a></li>
    <li><a [routerLink]="['/app-product-list']" class="block py-2 px-4 hover:bg-gray-700"><i class="fa-solid fa-bag-shopping"></i> Products</a></li>
    <li><a [routerLink]="['/app-service-request-list']" class="block py-2 px-4 hover:bg-gray-700"><i class="fa-solid fa-hand"></i> Service Requests</a></li>
    <li><a [routerLink]="['/app-service-technician-list']" class="block py-2 px-4 hover:bg-gray-700"><i class="fa-solid fa-screwdriver-wrench"></i> Service Technicians</a></li>
  </ul>
</aside>